<!doctype html>
<html>
  <head>
  </head>
  <body>
     <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.js"></script>
     <script type="text/javascript" src="js/ball.js"></script>
     <script type="text/javascript" src="js/game.js"></script>
      <script type="text/javascript" src="js/player.js"></script>
  </body>
</html>