<!doctype html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <audio autoplay loop>
       <source src="audio/game.mp3" type="audio/mpeg">
    </audio>
  </head>
  <body>
<div class="container">
  <div class="jumbotron shadow style-2" id="game-mainpage" style="background:#837E7C;text-align:left;border-style:ridge">
<div class="jumbotron" style="padding:1em;border-style:ridge;height:8em">
     <img src="/image/logo.png" id="logo" style="float:right;height:6em;width:15em;">
     <h4 id="name" style="color:red;"> <%- username %> </h4>
     <h5>High Score: <span id="highscore"></span></h5>
     <h5>Last Turn: <span id='score'></span></h5> 
   </div>  
 </div>
</div>

    <script>

     function deathLol(playerScore) {
        var score = playerScore
        console.log(playerScore)
      
      if (dead = true && score != undefined) {
          audio();
          $('#score').text(score);
        }

      if (highscore < score) {
          highscore = score;
          $('#highscore').text(score);
        }    

    } 
      function audio() {

          explosion_sound = game.add.audio('explosion_sound');
          explosion_sound.play();

        }
    </script>
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
  <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
  </body>
</html>

  <!-- <h3> <u><%- username %></u> </h3>
          <li> HighScore : <span id='highscore'></span> </li> 
          
      </div>
      </div> -->
