<!doctype html>
<html>
<head>
  <audio autoplay loop>
     <source src="audio/startpage.mp3" type="audio/mpeg">
  </audio>
  <title>Pig-Pong</title>
    <link rel="stylesheet" href="http://www.justinaguilar.com/animations/css/animations.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>

  <div class="titleandsignin">


   
    <div class="container">    <img src="/image/blood.png" id="mud" class="expandOpen"><img src="/image/logo.png" id="logo" class="expandOpen"></div>
      <!-- <img src="/image/blood.png" id="mud2" class="expandOpen"> --></div>
    </div>

  <div class="container" style="width: 40em;">
    
    <div class="jumbotron form-box shadow" style="background:#837E7C;color:black;height:10em;padding:1em;">
    
      <div class="input group style-2">
        <h2 style="font-family:helvetica">Enter your name:</h2>
        <form action="/" method="post">
          <input name="username" style="color:red;text-align:center;" class="form-control style-2" type="text">
          <input type="hidden" id="submit" class="singlePlayer">
        </form>
      </div>

    </div>

  </div>

  <img src="/image/blood.png" id="mud3" class="expandOpen">

</div>

<script>
  $(document).ready(function() {
    setTimeout(function(){
      $('#mud3').delay(800).fadeIn(50);
      // $('#mud3').delay(1600).fadeIn(50);
      $('#logo').delay(2200).fadeIn(50);
    });
  });  
</script>
 <!--  // <script src='socket.io/socket.io.js'></script> -->
</body>
</html>
