<!doctype html>
<html>
  <head>
    <title>PigPong</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='css/normalize.css'>
    <link rel='stylesheet' href='css/styles.css'>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdn.jsdelivr.net/phaser/2.2.2/phaser.js"></script>
    <script src="js/player.js"></script>
  </body>
</html>

