html {
	height: 100%;
}

body {
	background-image: url(/image/grass.jpg);
	min-height: 100%;
	text-align: center;
}

#jumbotron {
    position: absolute;
}

#mud {
	margin-right: 50em;
	visibility: hidden;
	z-index: -5;
}

#mud2 {
   position: absolute;
   display: none;  
   z-index: -5;
}

/*#mud3 {
   
   display: none;
   z-index: -5;
}*/

#game-mainpage {
  margin: 0 0 auto;
  display: inline-block;
}


#logo {
  width: auto;
}

#high-scores {
  float: left;
  display: inline;
  height: 10em;
  width: 22em;
  margin-left: 1.3em;
  background-color: red;
}